{% if not INCLUDED_MERMAID_CSS %}
{% INCLUDECSS '@alfredoramos_mermaid/css/common.css' %}
{% INCLUDECSS '@alfredoramos_mermaid/css/mermaid.css' %}
{%- if S_USER_LOGGED_IN and not S_IS_BOT -%}
{%- if S_ALLOW_CDN -%}
{% INCLUDECSS 'https://unpkg.com/jquery-modal@0.9.2/jquery.modal.min.css' %}
{%- else -%}
{% INCLUDECSS '@alfredoramos_mermaid/css/jquery.modal.min.css' %}
{%- endif -%}
{% INCLUDECSS '@alfredoramos_mermaid/css/live_editor.css' %}
{%- endif -%}
{%- set INCLUDED_MERMAID_CSS = true -%}
{% endif %}
